<h1 class="main_title">Nuestros Smartphones</h1>

<nav class="navbar_products">
    {{#if info.hasPrevPage}}
    <a href="/product?page={{info.prevPage}}">Anterior {{info.prevPage}}</a>
    {{/if}}
<p>Página actual: {{info.page}}</p>

{{#if info.hasNextPage}}
    <a href="/product?page={{info.nextPage}}">Siguiente {{info.nextPage}}</a>
{{/if}}
<p>Orden Precio: {{info.sort}}</p>
    <a href="/product?page={{info.page}}&sort=min">Menor</a>
    <a href="/product?page={{info.page}}&sort=max">Mayor</a>
</nav>
<main>
    <section class="product_list">
        <div class="info">
            <h3>Total de productos: {{info.totalDocs}}</h3>
            <p> Productos por página: {{info.limit}}</p>
            <p>Total de páginas: {{info.totalPages}}</p>
        </div>
        <div class="info">
            <a href="/product">Todos los productos</a>


        </div>
        {{#each info.docs}}
        <article class="product_card">
            <h2>{{title}}</h2>
            <p>Descripción: {{this.description}}</p>
            <p>Categoría: {{this.category}}</p>
            <p>Precio: {{this.price}} </p>
            <p>Stock: {{this.stock}}</p>
            <button class="add_to_cart" id="{{this._id}}">Agregar al carrito</button>
        </article>
    {{/each}}
    </section>
</main>

<nav class="navbar_products">
{{#if info.hasPrevPage}}
    <a href="/product?page={{info.prevPage}}">Anterior {{info.prevPage}}</a>
{{/if}}
<p>Info página actual: {{info.page}}</p>
{{#if info.hasNextPage}}
    <a href="/product?page={{info.nextPage}}">Siguiente {{info.nextPage}}</a>
{{/if}}
</nav>
